<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#adff2f">

<center><table border="2">
    <tr><th>empid</th><td>{{ empid }}</td></tr>
    <tr><th>name</th><td>{{ empname }}</td></tr>
    <tr><th>basicpay</th><td>{{ basicpai }}</td></tr>
    <tr><th>da</th><td>{{ da }}</td></tr>
    <tr><th>hra</th><td>{{ hra }}</td></tr>
    <tr><th>pf</th><td>{{ pf }}</td></tr>
    <tr><th>pt</th><td>{{ pt }}</td></tr>
    <tr><th>tax</th><td>{{ tax }}</td></tr>
    <tr><th>tsal</th><td>{{ tsal }}</td></tr>

</table>
</center>
</body>
</html>