<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>emp dashbord</title>
</head>
<body>
<div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./accountupdate">update account details </a></li>
                        <li><a href="./displaypayslip">view pay slip</a></li>
                        <li><a href="./downloadpayslip">download pay slip</a></li>
                    </ul>
    <a href="./">logout</a>

</div>
</body>
</html>